  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link rel="stylesheet" href="../cs/404st.css" />
  </head>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>{{e}}</p>
      <a href="/help" class="btn">Go Back Home</a>
    </div>
  </body>
</html>